
# Compiled Dynamic libraries
# Compiled Object files
# Compiled Static libraries
# Debugger Files
# Executables
# Fortran module files
# Linker files
# Precompiled Headers
# Prerequisites
# debug information files
*.a
*.app
*.d
*.dll
*.dwo
*.dylib
*.exe
*.gch
*.ilk
*.la
*.lai
*.lib
*.lo
*.mod
*.o
*.obj
*.out
*.pch
*.pdb
*.slo
*.smod
*.so
.DS_Store
fp-info-cache
